<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>controller.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryListController</servlet-name>
        <servlet-class>controller.CategoryListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationController</servlet-name>
        <servlet-class>controller.ChangeInformationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInfomationController</servlet-name>
        <servlet-class>controller.ShowInfomationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddtoCartController</servlet-name>
        <servlet-class>controller.AddtoCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCartController</servlet-name>
        <servlet-class>controller.ShoppingCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInsertController</servlet-name>
        <servlet-class>controller.OrderInsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInformationProduct</servlet-name>
        <servlet-class>controller.ShowInformationProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInformationProductController</servlet-name>
        <servlet-class>controller.ChangeInformationProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandsAndCategories</servlet-name>
        <servlet-class>BrandsAndCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandAndCategory</servlet-name>
        <servlet-class>controller.BrandAndCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoreProduct</servlet-name>
        <servlet-class>controller.AddMoreProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>controller.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBrand</servlet-name>
        <servlet-class>controller.AddBrand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductInCart</servlet-name>
        <servlet-class>controller.RemoveProductInCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyDone</servlet-name>
        <servlet-class>controller.BuyDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>controller.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryCart</servlet-name>
        <servlet-class>controller.HistoryCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillofSale</servlet-name>
        <servlet-class>controller.BillofSale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bill</servlet-name>
        <servlet-class>controller.Bill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillAddress</servlet-name>
        <servlet-class>controller.BillAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.UpdateQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantity</servlet-name>
        <servlet-class>controller.UpdateQuantity</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInformation</servlet-name>
        <servlet-class>controller.ShowInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryListController</servlet-name>
        <url-pattern>/CategoryListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationController</servlet-name>
        <url-pattern>/ChangeInformationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInfomationController</servlet-name>
        <url-pattern>/ShowInfomationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddtoCartController</servlet-name>
        <url-pattern>/AddtoCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCartController</servlet-name>
        <url-pattern>/ShoppingCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInsertController</servlet-name>
        <url-pattern>/OrderInsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInformationProduct</servlet-name>
        <url-pattern>/ShowInformationProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInformationProductController</servlet-name>
        <url-pattern>/ChangeInformationProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandsAndCategories</servlet-name>
        <url-pattern>/BrandsAndCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandAndCategory</servlet-name>
        <url-pattern>/BrandAndCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoreProduct</servlet-name>
        <url-pattern>/AddMoreProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBrand</servlet-name>
        <url-pattern>/AddBrand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductInCart</servlet-name>
        <url-pattern>/RemoveProductInCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyDone</servlet-name>
        <url-pattern>/BuyDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryCart</servlet-name>
        <url-pattern>/HistoryCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillofSale</servlet-name>
        <url-pattern>/BillofSale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bill</servlet-name>
        <url-pattern>/Bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillAddress</servlet-name>
        <url-pattern>/BillAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantity</servlet-name>
        <url-pattern>/UpdateQuantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInformation</servlet-name>
        <url-pattern>/ShowInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
